body{
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
    margin: 0;
}

header{
    background-color: darkred;
    text-align: center;
    padding: 20px;
}

header h1{
    color: gold;
    margin: 0;
    font-size: 38px;
}

header p{
    color: gold;
    margin-top: 10px;
    font-size: 18px;
}

main{
    max-width: 650px;
    margin: 20px auto;
}

.artigo{
    background-color: #f8f8f8;
    border-left: 5px solid darkred;

    padding: 15px 20px;
    border-radius: 5px;
}

.artigo img{
    display: block;
    margin: auto;
    width: 100%;
    max-width: 400px;
    border-radius: 5px;
}

.artigo h2{
    color: darkred;
    text-align: center;
    font-size: 26px;
}

.data{
    color: gray;
    font-size: 13px;
    text-align: center;
}

.artigo p{
    text-align: justify;
    line-height: 1.5;
    font-size: 16px;
}
